<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h3 class="my-4 text-center">Confirmed Bookings</h3>
        <table class="table table-striped">
            <thead>
            <tr>
               
                <th>Name</th>
                <th>email</th>
                <th>Hotel Name</th>
                <th>Room Type</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>Adults</th>
                <th>Children</th>
            </tr>
            </thead>
            <tbody>
            <% @bookings.each do |booking| %>
                <tr>
                <td><%= booking.user.username %></td>
                <td><%= booking.user.email %></td>
                <td><%= booking.room.hotel.name %></td>
                <td><%= booking.room.room_type %></td>
                <td><%= booking.start_date %></td>
                <td><%= booking.end_date %></td>
                <td class="text-center"><%= booking.adults %></td>
                <td class="text-center"><%= booking.child %></td>
                 
                </tr>
            <% end %>
            </tbody>
        </table>
        </div>
    </div>
</div>